
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*----- NAV BAR -----*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fffcf7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 30px 10px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: x-large;
}

nav{
    display: flex;
    height: 20px;
    
}

nav a{
    display: flex;
    font-size: 18px;
    color: #9A9C9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 30px;
    transition: .4s;
    
}

nav a:hover,
nav a.active {
    color:#738290;
    transform: scale(1.2);
    
}




/*----- SECTIONS -----*/
section {
    min-height: 20vh;
    display: flex;
    background: #D6D2CC;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding-top:2pc;
    padding-bottom: 2pc;
    
}




/*----- HOME SECTION -----*/


#home{
    background-image: url(images/backround.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

#home h1{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

#home h2{
    font-family: "Spectral", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

/*----- ABOUT SECTION -----*/

#about{
    background-color:#475540;
}


#about h3{
    color: #E4F0D0;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 5px;
}

#about h1{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#FFFCF7;
}

.intro_wrap{
    padding: 40px 25% 4%;
    display: flex;
    flex-direction:row

}

#about p{
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
    font-family: "Spectral", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 17px;
    color:#FFFCF7;
}

.pfp_img{
    
    max-width: 180px;
    max-height: 180px;
    flex-direction: column;
    object-fit: cover;
    display: grid;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    outline: 4px solid #FFFCF7;;
    transition: 0.3s ease;
}

.pfp_img:hover{
    transform: scale(1.1);
}

hr{
    width: 50rem;
}

/*----- SKILLS SECTION -----*/

#skills{
    min-height: 80vh;
}


#skills h3{
    color:#475540;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 5px;
}

#skills a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    
}


.resume_wrapper{
    text-align: center;
    display:grid;
}
.resume_wrapper i{
    font-size: 60px;
    
}



/*----- PROJECTS SECTION -----*/




#projects{
    min-height: 100vh;
   
}

#projects h3{
    color:#475540;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 5px;
}

#projects h1{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#FFFCF7;
    padding-bottom: 20px;
}

#projects_wrap{
    display:grid;
    justify-content: center;
    align-items: center;
}

#project{
    display:flex;
    padding:10px;
    align-items: center;
    justify-content: center;
}

#project_desc{
    align-items: center;
    display: grid;
}


#project h1{
    color:#FFFCF7;
    padding-top: 40px;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    
}
#project p{
    padding-top: 15px;
    width:40vw;
    padding-left: 40px;
    font-family: "Spectral", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 19px;
    padding-bottom: 5px;

}

.link_container{
    text-align: center;
}


.link_container :hover{
    color: #FFFCF7;
    transform: scale(1.1);
}

.project_link{
    display: inline-block;
    text-align: center;
    font-family: "Karla", sans-serif;
    text-decoration: none;
    color:#475540;
    font-size: 20px;
    padding-bottom: 30px;
    transition: 0.4s;
}

.icon_project_wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    transition: 0.3s;
}

.icon_project_wrapper :hover{
    color:#475540;
    transform: scale(1.03);
}

.icon_project_wrapper i{
    display: inline-block;
    margin: 0 10px;
    font-size: 40px;
    color:#FFFCF7;
    padding-top:5px;
}




.project_img{
    max-width: 300px;
    max-height: 300px;
    transition: 0.5s ease-out;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #475540;
}

.project_img:hover{
    transform: scale(1.03);
}

#line2{
    height: 3px;
    background-color: white;
    margin: 0 auto;
    width: 85%;
    border: none;
    
}

/*----- CONTACT SECTION -----*/

#contact{
    min-height: 10vh;
    background-color: #8299b2;
}
#contact h3{
    color:#4C667D;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 5px;
}
#contact h1{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}



#contact_row_2{
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
}




.email_wrapper{
    font-family: "Spectral", serif;
    text-align: center;
    display:grid; 
}
.email_wrapper i{
    font-size: 60px;
}
.email_wrapper a{
    font-family: "Spectral", serif;
    font-size: 17px;
    padding-top: 2px;
    text-decoration: none;
    color: #fff;
}
.email_wrapper a:hover {
    color: #333;
}


.icon_wrapper {
    display: flex;
    justify-content: center;
    
}

.icon_wrapper a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 35px;
    transition: 0.5s;
}

.icon_wrapper a:hover {
    color: #4C667D; 
}

footer p{
    padding-bottom: 5px;
    align-self: center;
}

#line{
   height: 3px;
   background-color: white;
   margin: 0 auto;
   width: 85%;
}




footer {
    justify-content: center;
    background-color: #4C667D;
    text-align: center;;
    padding: 15px;
    bottom: 0;
    width: 100%;
    font-family: "Karla", sans-serif;
    color: #333;
    align-items: center;
    position:relative;
}







/*----- RESPONSIVE SIZING -----*/

@media (max-width: 960px) {
    .intro_wrap{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }
    


}
@media (max-width: 768px) {
    header {
        padding: 20px;
        flex-direction: row;
    }

    nav {
        flex-direction:row;
        align-items: center;
    }

    nav a {
        padding: 10px 15px;
    }
    
    #home {
        min-height: 70vh;
    }

    .intro_wrap{
        flex-direction: column;
        align-items: center;
    }

    #about p{
        padding:2%;
        text-align: center;
    }

    .pfp_img{
        
        max-width: 150px;
        max-height: 150px;
        
    }

    
}



@media (max-width: 480px) {
    header {
        padding: 15px;
        font-size: large;
        
    }

    nav a {
        font-size: 16px;
        padding: 8px 5px;
    }

    #home h1 {
        font-size: 40px;
    }

    #home h2 {
        font-size: 18px;
    }

    
}